{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %} TSL Manager - Statusy ważności TSL {% endblock %}
{% block page_content %}
<div class="container-fluid">
    <div class="jumbotron">
        <p class="lead"> Witaj: {{user.username}}
            <a href="{% url 'logout' %}"
               class="btn btn-danger btn-lg active mx-4"
               role="button"
               aria-pressed="true"
               style="float: right;"> Wyloguj
                <i class="fas fa-sign-out-alt"></i></a>
        </p>
        <h5 class="display-6 text-center mt-4 mb-5">Statusy ważności TSL</h5>
        <div class="col text-center">
            <a href="{% url 'services_to_served' %}"
               class="btn btn-dark ms-0 my-2"
               role="button"
               aria-pressed="true"
               style="width:31%;">Usługi do obsłużenia</a>
            <a href="{% url 'all_services' %}"
               class="btn btn-dark mx-2 my-2"
               role="button"
               aria-pressed="true"
               style="width:31%;">Wszystkie usługi</a>
            <a href="{% url 'served_services' %}"
               class="btn btn-dark me-0 my-2"
               role="button"
               aria-pressed="true"
               style="width:31%;">Usługi obsłużone</a>
        </div>
        <hr class="my-4">
    </div>
    <div class="table-responsive-sm mt-3">
        <table class="table table-bordered table-sm table-hover text-center table-light"
               border="1"
               style="max-width: 100%">
            <thead class="table-primary">
            <tr>
                <th class="align-middle" scope="col">No.</th>
                <th class="th-sm align-middle" scope="col">Państwo</th>
                <th class="th-sm align-middle" scope="col">Nazwa operatora TSL</th>
                <th class="th-sm align-middle" scope="col">Data wydania TSL</th>
                <th class="th-sm align-middle" scope="col">Data ważności TSL</th>
                <th class="th-sm align-middle" scope="col">Status TSL</th>
            </tr>
            </thead>
            <tbody>
            {% for service in tsp_services %}
            <tr>
                <td class="align-middle" scope="row">{{ forloop.counter }}</td>
                <td class="align-middle">{{ service.country_name }}</td>
                <td class="align-middle">{{ service.tsl_operator_name }}</td>
                <td class="align-middle">{{ service.tsl_issue_date|date:"Y-m-d" }}</td>
                <td class="align-middle">{{ service.tsl_expiry_date|date:"Y-m-d" }}</td>
                <td class="align-middle">{{ service.tsl_validity_alert }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
