# =====================================
# Python: Bytecode and compiled files
# =====================================
__pycache__/
*.py[cod]
*.so

# =====================================
# Build artifacts
# =====================================
*.egg-info/
.eggs/
build/
dist/

# =====================================
# Logs
# =====================================
*.log

# =====================================
# Local databases
# =====================================
*.sqlite3
*.db

# =====================================
# Virtual environments
# =====================================
.env
.venv
env/
venv/
ENV/
ENV.bak/
venv.bak/
