-r requirements.in

# Formatting / pre-commit
black>=25.1,<26.0
isort>=6.0,<7.0
pre_commit>=4.3,<5.0

# Linting
flake8>=7.3,<8.0
flake8-bugbear>=24.12,<25.0
flake8-comprehensions>=3.17,<4.0

# Typing
mypy>=1.18,<2.0
django-stubs>=5.2,<6.0
django-stubs-ext>=5.2,<6.0
celery-types>=0.23,<0.24
types-PyYAML>=6.0.12.20250915,<7.0

# Tests
pytest>=8.4,<9.0
pytest-django>=4.11,<5.0